extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	section.hero.is-primary.is-fullheight
		.hero-head
			header.nav
				.container
					.nav-left
						a.nav-item Ejemplo
					
					.nav-right.nav-menu
						span.nav-item
							a.button.is-primary.is-outlined.is-inverted(href="/login")
								span Entrar

						span.nav-item
							a.button.is-primary.is-outlined.is-inverted(href="/signup")
								span Registrarse

		.hero-body
			.container
				h1.title
					| Bienvenido al Sistema de Diagnóstico
				h2.subtitle
					| Sistema de reportes mediante gráficas interactivas para el diagnóstico


block scripts
	script(src='/app/vendor.js')
	script(src='/app/frontend.js')

